<!DOCTYPE HTML>
<!--[if IEMobile 7 ]><html class="no-js iem7" manifest="default.appcache?v=1"><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />

        <noscript>
            <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
        </noscript>

        <style type="text/css">
            .loading {
                position: fixed;
                width: 100%;
                height: 100%;
                background: white;
                z-index: 100;
                top: 0;
                left: 0;
                opacity: 1;
                background: url({{ asset('images/ajax-loader.gif') }}) no-repeat center center black;
                background-size: 24px 24px;
                transition: opacity .3s linear;
            }
            .loading.hide {
                opacity: 0;
            }
        </style>

    </head>

    <body>
        <nav>
            <div class="nav_holder">
                <div class="row">
                    <div class="contain">
                        <a href="{{ path("homepage") }}" class="one">Home</a>
                        <a href="{{ path("about") }}" class="two">About</a>
                        <span class="spacer"></span>
                        <a href="{{ path("projects") }}" class="three">Projects</a>
                        <a href="{{ path("contact") }}" class="four">Contact</a>
                    </div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="logout-button btn" href="{{ path('fos_user_security_logout') }}">logout</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="columns small-24 aligncenter">
                    <a class="logo" href="/">B.Booth <span class="amp">&amp;</span> Son</a>
                    {#<a class="contact-but cta floatright">GET IN TOUCH</a>#}
                </div>
            </div>
            <div class="row">
                <div class="columns small-offset-9 small-6">
                    <hr class="hr" />
                </div>
            </div>
            <div id="main" class="aligncenter">
                <div class="row" style="height: 100%;position:relative;">
                    <h1>
                        Property Construction &amp; Renovation<br/>
                        {#<span>Quality Guaranteed</span>#}
                    </h1>
                    {#<a class="cta">View recent projects</a>#}
                </div>
            </div>
        </nav>
        <div class="loading"></div>
        {% block body %}

        {% endblock %}
    </body>
    <script>
        (function (d) {
            var config = {
                kitId: 'jos6vid',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <script type="text/javascript" src="{{ asset('build/js/site.min.js') }}"></script>
    <script>
        var styleSheets = [
            "{{ asset('build/css/main.css') }}",
        ];
        for (var i = 0, length = styleSheets.length; i < length; i++) {
            var link = document.createElement("link");
            link.href = styleSheets[i];
            link.type = "text/css";
            link.rel = "stylesheet";
            link.media = "screen,print";
            document.getElementsByTagName("head")[0].appendChild(link);
            setTimeout(function () {
                window.loadEverything();
            }, 1000);
        }
    </script>
</html>
