{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<section id="hero">
    <div class="row">
        <div class="columns medium-20 medium-offset-2">
            <h3>
                <span class="one slide-right transition ">Yorkshire builders specialising in </span>
                <span class="two slide-left transition delay">all aspects of building & renovations</span>
            </h3>
        </div>
    </div>
</section>

<section id="work">
    <div class="row">
        <div class="columns medium-11 medium-offset-1">
            <a href="/projects/1/barn-house-conversion" class="js-tilt slide-left transition delay-three">
                {#<span class="play">View detail</span>#}
                <span class="desc">
                    <span class="title">Barn House conversion <br/>with out-buildings</span>
                </span>
                <img src="{{ asset('images/ss.jpg') }}" />
            </a>
        </div>
        <div class="columns medium-11 end">
            <a href="/projects/2/farm-house-new-build" class="js-tilt slide-left transition delay-two">
                {#<span class="play">View detail</span>#}
                <span class="desc">
                    <span class="title">Farm house new build</span>
                </span>
                <img src="{{ asset('images/ss3.jpg') }}" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="columns medium-12">
            <a href="/projects/3/garage-workspace" class="js-tilt slide-left transition delay-four">
                {#<span class="play">View detail</span>#}
                <span class="desc">
                    <span class="title">Garage workspace</span>
                </span>
                <img src="{{ asset('images/ss4.jpg') }}" />
            </a>
        </div>
        <div class="columns medium-12">
            <a href="/projects/4/groundfloor-extension" class="js-tilt slide-left transition delay-five">
                {#<span class="play">View detail</span>#}
                <span class="desc">
                    <span class="title">Ground floor extension</span>
                </span>
                <img src="{{ asset('images/ss5.jpg') }}" />
            </a>
        </div>
    </div>
</section>
<section id="look">
    <div class="row">
        <div class="columns medium-14 medium-offset-5">
            <hr class="hr"/>
            <h3>Want to see more?</h3>
            <a href="{{ path("projects") }}" class="cta large">View all our projects here</a>
        </div>
    </div>
</section>
{% endblock %}