{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<section id="work">
    <div class="row">
        <div class="columns medium-11 medium-offset-1">
            <a>
                <span class="desc">
                    <span class="title">Lorem ipsum</span>
                    <span class="body">consectetur adipiscing elit. Donec posuere lacus ut nisi mattis porta.</span>
                </span>
                <img src="{{ asset('images/ss.jpg') }}" />
            </a>
        </div>
        <div class="columns medium-11 end">
            <a>
                <span class="desc">
                    <span class="title">Lorem ipsum</span>
                    <span class="body">consectetur adipiscing elit. Donec posuere lacus ut nisi mattis porta.</span>
                </span>
                <img src="{{ asset('images/ss3.jpg') }}" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="columns medium-12">
            <a>
                <span class="desc">
                    <span class="title">Lorem ipsum</span>
                    <span class="body">consectetur adipiscing elit. Donec posuere lacus ut nisi mattis porta.</span>
                </span>
                <img src="{{ asset('images/ss4.jpg') }}" />
            </a>
        </div>
        <div class="columns medium-12">
            <a>
                <span class="desc">
                    <span class="title">Lorem ipsum</span>
                    <span class="body">consectetur adipiscing elit. Donec posuere lacus ut nisi mattis porta.</span>
                </span>
                <img src="{{ asset('images/ss5.jpg') }}" />
            </a>
        </div>
    </div>
</section>
<section id="look">
    <div class="row">
        <div class="columns medium-14 medium-offset-5">
            <hr class="hr"/>
            <h3>Want to see more?</h3>
            <a href="{{ path("projects") }}" class="cta large">View all our projects here</a>
        </div>
    </div>
</section>
{% endblock %}